<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bill Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

<form th:action="@{/bill/generate}" th:object="${generateBillRequest}" method="POST">

	<input
		type="text"
		name="billReading"
		th:field="*{billReading}"
		placeholder = "Enter Bill Readings"
	/>
	
	<input
		type="text"
		name="userId"
		th:field="*{userId}"
		placeholder = "Enter UserId"
	/>
<button type="submit">Generate Bill</button>
</form>
</body>



</html>