<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Product Application</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">

            <h1 class="text-center">Create Product</h1>
            <div class="card-body">
                <form  th:object="${product}" th:action="@{/save}" method="POST">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input
                                type="text"
                                name="name"
                                th:field="*{name}"
                                class="form-control"
                                placeholder="Enter Name"
                        >
                    </div>

                    <div class="form-group">
                        <label>Product Category</label>
                        <input
                                type="text"
                                name="category"
                                th:field="*{category}"
                                class="form-control"
                                placeholder="Enter Category"
                        >
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>